@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fffdfc;
  --foreground: #000000;
  --grey-main: #f5f1f1;
  --grey-dark: #cbcbcb;
  --grey-darker: #707070;
  --primary-lighter: #f8f6fd;
  --primary-main: #271962;
  --secondary-main: #de5515;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
