@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'slick-carousel/slick/slick.css';
@import 'slick-carousel/slick/slick-theme.css';

:root {
  --grey-main: #f5f1f1;
  --grey-dark: #cbcbcb;
  --grey-darker: #707070;
  --primary-lighter: #f8f6fd;
  --primary-main: #271962;
  --secondary-main: #de5515;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}


